
English.lproj/.svn/entries

English.lproj/.svn/all-wcprops

*.svn-base

MenuApp.xcodeproj/.svn/all-wcprops

MenuApp.xcodeproj/.svn/entries

MenuApp.xcodeproj/project.xcworkspace/xcuserdata/localadmin.xcuserdatad/UserInterfaceState.xcuserstate

*.pbxuser

*.mode1v3
